@page
@{
    ViewData["Title"] = "Doc";
}

<br />
<br />
<h2>
    Options
</h2>
<hr />

<div class="section">
    <h4>
        hijri
    </h4>
    <p>
        to make the default is hijri
    </p>
    <div class="form-group">

        <div class="input-group">
            <input id="hijri-picker" type="text" class="form-control" />
        </div>
    </div>
    <figure class="highlight">
        <pre>
        <code class="javascript">
    $('#picker').hijriDatePicker({
        hijri:true
    });
        
        </code>
</pre>
    </figure>

</div>

<div class="section">
    <h4>
        hijri
    </h4>
    <p>
        to make the default is hijri
    </p>
    <div class="form-group">

        <div class="input-group">
            <input id="hijri-picker" type="text" class="form-control" />
        </div>
    </div>
    <figure class="highlight">
        <pre>
        <code class="javascript">
            $('#picker').hijriDatePicker({
                hijri:true
            });
        </code>
</pre>
    </figure>

</div>

