@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bootstrap Hijri Datepicker </h1>
</div>

<br />
<br />

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>
                Default
            </label>
            <div class="input-group">
                <input id="default-picker" type="text" class="form-control" />
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>
                Hijri date default
            </label>
            <div class="input-group">
                <input id="hijri-picker" type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>
                Months View Mode
            </label>
            <div class="input-group">
                <input id="month-picker" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>
                Years View Mode 
            </label>
            <div class="input-group">
                <input id="year-picker" type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>
                Show All buttons 
            </label>
            <div class="input-group">
                <input id="all-button-picker" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
       
    </div>
</div>

