@page
@model IndexModel
@{
    ViewData["Title"] = "Demo";
}

<div class="text-center">
    <h1 class="display-4">Bootstrap Hijri Datepicker </h1>
</div>

<br />
<br />

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label>
                Bootstrap Hijir datepicker 
            </label>
            <div class="input-group">
                <input id="default-picker" type="text" class="form-control" />
            </div>
        </div>
    </div>

</div>

